<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>    
        <link rel="stylesheet" href="/css/styles.css">

        <title>Doc</title>
    </head>
    <body>
        <%- include('header.ejs') %>
        <table>
            <% for( var i=0 ; i<allTodos.length; i++) { %>
                <tr>
                    <td>
                        <%= allTodos[i].title %>
                    </td>
                </tr>
            <% } %>         
        </table>
        <%- include('footer') %>
    </body>
</html>
